.input-file__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-image__image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.input-image__image{
    width: 8rem;
    aspect-ratio: 6/5;
    object-fit: cover;
    object-position: center;
}

